<!DOCTYPE html>
<html lang="en">

<head>
	<title>Twitter Share Blocked App {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<h1>Twitter Share Blocked App</h1>
		{% block containercontent %}{% endblock %}
		<hr>
		<div class="footer">
			<p class="text-muted"><small>The source code for this project can be found at <a href="https://github.com/juliusfrost/twitter-share-blocked">github.com/juliusfrost/twitter-share-blocked</a>.</small></p>
		</div>
	</div>
</body>

</html>