{% extends "base.html" %}
{% block title %}success{% endblock %}
{% block containercontent %}
<h2>Export</h2>
<p>The screen names of the Twitter Accounts you blocked.</p>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Your Blocked Accounts</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="12">{{ blocked_list }}</textarea>
</div>
<div class="d-grid gap-2 d-md-block">
    <a href="/welcome" class="btn btn-small m-2 btn-danger">Back</a>
</div>
{% endblock %}