{% extends "base.html" %}
{% block title %}success{% endblock %}
{% block containercontent %}
<h2>Import</h2>
<p>In the form, enter twitter screen names or user ids delimited by spaces or commas.</p>
<form method="post">
    <div class="form-group">
        <label for="importAccounts">Block These Accounts</label>
        <textarea class="form-control" id="importAccounts" name="importAccounts" rows="12"></textarea>
    </div>
    <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn m-2 btn-primary">Submit</button>
    </div>
</form>
<div class="d-grid gap-2 d-md-block">
    <a href="/welcome" class="btn btn-small m-2 btn-danger">Back</a>
</div>
{% endblock %}