{% extends "base.html" %}
{% block containercontent %}
<p class="lead">Welcome to the Share Blocked Twitter Accounts App.</p>

<h2 class="display-3">Get Started</h2>
<div class="hero-unit">
    <p>To get started, we'll need you to authorize our app to access your Twitter account. </p>
</div>
<div class="d-grid gap-2 d-md-block col-6">
    <a href="/start" class="btn btn-lg btn-primary">Twitter Login</a>
</div>

<h2 class="display-3">Features</h2>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Import</h5>
            <p class="card-text">Submit a list of Twitter accounts and our app will block all of them for you.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Export</h5>
            <p class="card-text">Get a list of Twitter accounts you blocked.
                Copy and share this with anyone else so that they can import it with our app.</p>
        </div>
    </div>
</div>

<h2 class="display-3">Privacy</h2>
<p>
    This app never stores any personal information or Twitter access tokens, and only implements blocking functionality.
    To be completely safe, make sure to logout after using the app.
</p>
{% endblock %}